.product {
    background-color: green;

    .preview {
        width: 100%;
    }

    .padding {
        padding: 15.92px;
    }

    .actions, .share {
        display: flex;
        align-items: center;
    }

    .actions {
        justify-content: space-between;
    }

    .share button:not(:last-child) {
        margin-right: 20px;
    }
}