@font-face {
  font-family: "Helvetica Neue";
  src: local('HelveticaNeueLTStd'), url(./fonts/HelveticaNeueLTStd-Bd.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local('HelveticaNeueLTStd'), url(./fonts/HelveticaNeueLTStd-Md.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local('HelveticaNeueLTStd'), url(./fonts/HelveticaNeueLTStd-Roman.otf) format('opentype');
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
