#like {
  background: none;
  border: none;
}

.animationOn {
  animation-duration: 0.5s;
  animation-name: animationOn;
}

.animationOff {

  animation-duration: 0.5s;
  animation-name: animationOff;
}


@keyframes animationOn {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes animationOff {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }

  to {
    transform: scale(1, 1);
  }
}
