.footer {
 background-color: white;
 border-top: 1px solid #E5E5E5;
 position: fixed;
 width: 100%;
 bottom: 0;
 color: #111111;
 font-size: 16px;
vertical-align: middle;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 18px 40px
}

.footer ul li {
  display: inline;
}

.footer ul img {
  width: 80%;
  height: 80%;
}

.hide {
  transform: translateY(200px);
  transition: 0.5s;
}

.show {
  transition: 0.5s;
}
/* MVP2 : à styliser */
.itemsMargin {

}

.homeIcon {
}

.discoverIcon {
}

.messagesIcon {
}

.profileIcon {

}
