.product-details {
    overflow-x: hidden;
    
    .details {
        padding: 0 26px;
        margin-top: 63px;

        .title {
            margin-bottom: 28px;
        }

        .wear-details {
            margin-bottom: 28px;
        }

        .desc-image {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }

               
    .container-cta {
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
    }
    
    .cta {
        display: flex;
        width: 48%;
        height: 45px;
        align-items: center;
        justify-content: center;
        background: none;
        border: 1px solid #E5E5E5;
        border-radius: 50px;
    }
}