.product-details {
    .details {
        padding: 0 26px;
        margin-top: 63px;

        .title {
            margin-bottom: 28px;
        }

        .wear-details {
            margin-bottom: 28px;
        }

        .desc-image {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}