.product-result-container {
    border-bottom: 0.6px solid rgb(180, 180, 180);
    margin-bottom: 15px;
    
    .product-result {
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 15px;
    
        .img-container {
            height: 80px;
            width: 80px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .text {
            margin-left: 20px;
            text-decoration: none;

            h4, p, a {
                margin: 0;
                padding: 0;
                color: black;
            }
        }
    }
    
}