.remind-btn {
    background-color: black;
    border-radius: 1000px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: none;

    color: white;
    width: calc(100vw - (15.92px * 2));
    height: 55px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    &:not(.active) {
        transition: 0.2s;
        background-color: #64BE71;
        color: white;
        border: none;
    }
}